/*
 *  for common css part
 */

.left {
  float: left;
}

.right {
  float: right;
}

@keyframes heightChange {
  0%{
    height: 0;
  }
  100%{
    height: 100;
  }
}

@keyframes moveLeft-one {
  0%{
    margin-left: 20px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-two {
  0%{
    margin-left: 30px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-three {
  0%{
    margin-left: 40px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-fore {
  0%{
    margin-left: 55px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-five {
  0%{
    margin-left: 70px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-six {
  0%{
    margin-left: 90px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes moveLeft-seven {
  0%{
    margin-left: 110px;
    opacity: .3
  }
  100%{
    margin-left: 0;
    opacity: 1
  }
}

@keyframes user-box-display {
  0%{
    height: 150px;
  }
  100%{
    height: 360px;
  }
}

@keyframes move-left-in {
  0%{
    transform: translateX(60px);
    opacity: .5;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
